.footer {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 15px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   &__copy {
      padding: 10px;
      background: rgba($color: $black, $alpha: 0.5);
      border-radius: 5px;
      color: $white;
      font-size: 16px;
   }
   &__links {
      padding: 0px;
      border-radius: 5px;
      display: flex;
      gap: 15px;
   }
   &__icon {
      color: $white;
      font-size: 25px;
      display: none;
   }
   &__social{
      background: rgba($color: $black, $alpha: 0.5);
      padding: 10px;
      border-radius: 5px;
      color: $white;
      font-size: 16px;
   }
   @media only screen and (max-width:$mobile) {
      &__links {
      background: rgba($color: $black, $alpha: 0.5);
      gap: 10px;
      padding:5px;
      border-radius: 5px;
      }
      &__copy {
         padding:10px 10px;
      }
      &__icon {
         display: block;
      }
      &__social{
         display: none;
      }
   }
}
