// import fonts/font <=>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500;700;900&display=swap');

// default font / default font size <=>
$fontFamily: 'Unbounded', cursive;
$fontFamilyLogo: "Montserrat", sans-serif;
$fontSize: 14;

// base colors <=>
$black: #101014;
$white: #f0ebeb;
$mainColor: #FFFD00;

// size gadjes for adapted and other <=>
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

// null style <=>
@import "_null.scss";

// general style <=>
body {
   min-height: -webkit-fill-available;
   height: 100svh;
   padding: 20px;
   background: $black;
   line-height: 1;
   font-family: $fontFamily;
   font-size: $fontSize + px;
   font-weight: 500;
   @media only screen and (max-width:$mobileSmall) {
      padding: 15px;
   }
   //scroll block when open burger
   .lock & {
      overflow: hidden;
      touch-action: none;
   }
}

// title  <=>
.title {
   font-weight: 800;
   font-size: 40px;
}
// text  <=>
.text {
   opacity: .9;
}

// scroll bar <=>
::-webkit-scrollbar {
   display: none;
}
*{
//::-webkit-scrollbar {
//   background-color: $white;
//   width: 16px;
//}
//::-webkit-scrollbar-track {
//   background-color: $white;
//}
//::-webkit-scrollbar-thumb {
//   background-color: #a0a0a5;
//   border-radius: 16px;
//}
//::-webkit-scrollbar-thumb:active {
//   background-color: $black;
//}
//::-webkit-scrollbar-button {
//   display: none;
//}
}

// when copu text<=>
::selection {
   color: $white;
   background: $black;
}

//loading page style<=>
.loader{
   z-index: 200;
   position: absolute;
   width: 100%;
   height: 100vh; 
   background: $white;
   transition: .5s;
   display: flex;
   justify-content: center;
   align-items: center;
}
.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   border: 9px solid $white;
   animation: spinner-bulqg1 0.8s infinite linear alternate,
        spinner-oaa3wk 1.6s infinite linear;
}
@keyframes spinner-bulqg1 {
   0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
   }

   12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
   }

   25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
   }

   50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
   }

   62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
   }

   75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
   }

   100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
   }
}
@keyframes spinner-oaa3wk {
   0% {
      transform: scaleY(1) rotate(0deg);
   }

   49.99% {
      transform: scaleY(1) rotate(135deg);
   }

   50% {
      transform: scaleY(-1) rotate(0deg);
   }

   100% {
      transform: scaleY(-1) rotate(-135deg);
   }
}
//  wrapper <=>
.wrapper {
   height:100%;
   width: 100%;
   border-radius: 20px;
   box-shadow: inset ;
   overflow: hidden;
   position: relative;
   box-shadow: inset 0 0 200px $black;
}

.noise {
   background-image:radial-gradient(25.5% 100% at 100% 100%, #ecc94b 9%, rgba(235, 183, 63, 0.83) 24.17%, rgba(233, 164, 52, 0.67) 39.33%, rgba(232, 144, 41, 0.5) 54.5%, rgba(234, 122, 29, 0.33) 69.67%, rgba(255, 0, 0, 0) 100%), radial-gradient(100% 100% at 0% 50%, #f6e05e 19%, rgba(235, 182, 87, 0.75) 32%, rgba(222, 140, 77, 0.5) 45%, rgba(177, 56, 94, 0) 71%);
   filter: blur(10px);
   background-repeat: repeat;
   height: 100%;
   width: 100%;
   opacity: 1;
   position: absolute;
   top: 0%;
   left: 0%;
   z-index: -1;
   pointer-events: none;
}
.old {
   background-image: url(../img/noise.png);
   //background-image: url(../img/old.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position-x: right;
   position: absolute;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: .4;
   z-index: -1;
   pointer-events: none;
}


//import scss modules<=>
@import "_header.scss";
@import "_footer.scss";